<div class="content-body">
    <section id="drag-area">
      <div class="row">
        <div class="col-md-12 text-center mb-2">
          <h3>
          <b>
            <a href="" placement="bottom" ngbTooltip="Previous list" >
              <i class="ft-chevron-left"></i>
            </a>
            WHITE LIST 1
            <a href="" placement="bottom" ngbTooltip="Next list" >
              <i class="ft-chevron-right"></i>
            </a>
          </b>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">           
               <div class="float-right">
                <button type="button" class="btn btn-float btn-outline-primary btn-round" placement="bottom" ngbTooltip="Add more fields to this watch list?">
                  <i class="fa fa-plus-circle"></i>
                </button>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                      <div class="table-responsive">
                          <table class="table">
                            <caption>WATCH LIST 1</caption>
                            <thead>
                              <tr>
                                <th>SYMBOL</th>
                                <th>LAST PRICE</th>
                                <th>CHANGE</th>
                                <th>%CHANGE</th>
                                <th>VOLUME</th>
                                <th> Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                
                                <td>AMZN</td>
                                <td>$1600</td>
                                <td>+$5,000</td>
                                <td>+10%</td>
                                <td>1,782,393</td>
                                <td>
                                  <a href="javascript:void(0)" class="danger" placement="bottom" ngbTooltip="Delete?">
                                    <i class="ft-trash-2"></i>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <div class="float-right">
            <button type="button" class="btn btn-float btn-outline-primary btn-round mr-1" placement="bottom" ngbTooltip="Add new watch list?">
              <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" class="btn btn-float btn-outline-danger btn-round" placement="bottom" ngbTooltip="Delete this watch list?">
              <i class="ft-trash-2"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>