<div class="content-body">
  <section id="drag-area">
    <div class="row">
      <div class="col-md-12 text-center mb-2">
        <h3>
          <b> ANALYTICS </b>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="height: 150px;">
          <div class="card-header">
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6  col-xs-12 ">
                  <label for="title" style="float: right;">
                    <strong>NEW SGINUP TODAY:</strong>
                  </label>
                </div>
                <div class="col-md-6 col-xs-12">
                  15
                </div>
              </div>
              <div class="row">
                <div class="col-md-6  col-xs-12 ">
                  <label for="title" style="float: right;">
                    <strong>ACTIVE USERS TODAY:</strong>
                  </label>
                </div>
                <div class="col-md-6 col-xs-12">
                  25
                </div>
              </div>
              <div class="row">
                <div class="col-md-6  col-xs-12 ">
                  <label for="title" style="float: right;">
                    <strong>AVERAGE TIME LOGGED IN:</strong>
                  </label>
                </div>
                <div class="col-md-6 col-xs-12">
                  10 MINUTES
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="height: 150px;">
          <div class="card-header">
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6  col-xs-12 ">
                  <label for="title" style="float: right;">
                    <strong>New SIGN UP YTD:</strong>
                  </label>
                </div>
                <div class="col-md-6 col-xs-12">
                  1,110
                </div>
              </div>
              <div class="row">
                <div class="col-md-6  col-xs-12 ">
                  <label for="title" style="float: right;">
                    <strong>SIGN UP GROWTH RATE:</strong>
                  </label>
                </div>
                <div class="col-md-6 col-xs-12">
                  5%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="height: 150px;">
          <div class="card-header text-center">
            <strong>TODAY'S MOST PROFITABLE USER</strong>
          </div>
          <div class="card-content collapse show">
            <div class="card-body ">
              <div class="row">
                <div class="col-6">
                  <span style="float: right;">USER 1:</span>
                </div>
                <div class="col-6">
                  +$10,000
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <span style="float: right;">USER 2:</span>
                </div>
                <div class="col-6">
                  +15%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="height: 150px;">
          <div class="card-header text-center">
            <strong>TODAY'S BIGGEST LOSER</strong>
          </div>
          <div class="card-content collapse show">
            <div class="card-body ">
              <div class="row">
                <div class="col-6">
                  <span style="float: right;">
                    USER 3:
                  </span>
                </div>
                <div class="col-6">
                  -$10,000
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <span style="float: right;">
                    USER 4:
                  </span>
                </div>
                <div class="col-6">
                  -15%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="card" style="height: 150px;">
            <div class="card-header text-center">
              <strong>YTD MOST PROFITABLE USER</strong>
            </div>
            <div class="card-content collapse show">
              <div class="card-body ">
                <div class="row">
                  <div class="col-6">
                    <span style="float: right;">USER 1:</span>
                  </div>
                  <div class="col-6">
                    +$1,10,000
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <span style="float: right;">USER 2:</span>
                  </div>
                  <div class="col-6">
                    +15%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="height: 150px;">
            <div class="card-header text-center">
              <strong>YTD BIGGEST LOSER</strong>
            </div>
            <div class="card-content collapse show">
              <div class="card-body ">
                <div class="row">
                  <div class="col-6">
                    <span style="float: right;">
                      USER 3:
                    </span>
                  </div>
                  <div class="col-6">
                    -$1,30,000
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <span style="float: right;">
                      USER 4:
                    </span>
                  </div>
                  <div class="col-6">
                    -15%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
